<div class="container">
    <div class="input-music">
        <input type="text"  id="InputMusic" placeholder="Nom de la musique et/ou Artiste..." value="" autocomplete="off">
        <div type="button"  (click)="findMusic()">Envoyer</div>
    </div>
    <div class="music-player">
            <i (click)="togglePlayPause()" class=" {{PlayOrPause}}" id="playButton" ></i>
            <div [style.width.%]="currentProgress"></div>
    </div>
    <div class="find-items">
        <div class="{{colorArtist}}"> <!--  *ngIf="IsFindArtiste" -->
                <i class="bi-file-earmark-person-fill" style="line-height: 50px;"></i>
                <p >{{Artist}}</p>
        </div>
        <div class="{{colorTitle}}"> <!-- *ngIf="IsFindSound"-->
                <i class="bi-music-note-beamed" style="line-height: 50px;"></i>
                <p >{{Title}}</p>
        </div>
    </div>
    <div class="button-items">
        <div (click)="nextMusic()" *ngIf="IsFindAll">Son suivant</div>
        <div (click)="nextMusic()" *ngIf="!IsFindAll" [disabled]="!skipButtonAvailable">Passer le son</div>
    </div>
    <div class="songs-items">
        <div >Anciens sons</div>
        <a href="{{item.songUrl}}"  *ngFor="let item of items" target="_blank">
            <img src="{{item.imagePath}}" alt="Titre de la chanson"  style="width: 80px; height: 80px;">
            <div >
                <p >{{item.MusicName}}</p>
                <p >{{item.ArtistName}}</p>
            </div>
            <div class="logo-song">
                <i class="bi-arrow-up-right-square-fill" ></i>
            </div>
        </a>
    </div>
</div>
