
<div class="container">
    <div class="music-player-and-find-items">
        <div class="music-player-and-skip">
            <div class="music-player">
                <span (click)="togglePlayPause()" class="material-symbols-outlined" id="playButton" >{{PlayOrPause}}</span>
                <div>
                    <div [style.width.%]="currentProgress"></div>
                </div>
            </div>
            <span id="skip_song" (click)="nextMusic()" class="material-symbols-outlined">skip_next</span>
        </div>
        <div class="find-items">
            <div class="{{colorArtist}}"> <!--  *ngIf="IsFindArtiste" -->
                    <span class="material-symbols-outlined" style="line-height: 50px;">artist</span>
                    <p >{{Artist}}</p>
            </div>
            <div class="{{colorTitle}}"> <!-- *ngIf="IsFindSound"-->
                    <span class="material-symbols-outlined" style="line-height: 50px;">music_note</span>
                    <p >{{Title}}</p>
            </div>
        </div>
    </div>
    
    <div class="input-music">
        <input type="text"  id="InputMusic" placeholder="Entrez la musique et l'artiste..." value="" autocomplete="off">
        <span (click)="findMusic()" class="material-symbols-outlined">send</span> 
    </div>

    <div class="songs-items">
        <div class="song-categorie-name">Mes musiques</div>
        <div class="song-item">
            <a href="{{item.songUrl}}"  *ngFor="let item of items" target="_blank">
                <div>
                    <img src="{{item.imagePath}}" alt="Titre de la chanson"  style="width: 80px; height: 80px;">
                    <div >
                        <p >{{item.MusicName}}</p>
                        <p >{{item.ArtistName}}</p>
                    </div>
                </div>
                <i class="bi-arrow-up-right-square-fill" ></i>
            </a>
        </div>
        
</div>