<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="container">
    <div class="top-text">
        <div class="title">Bienvenue sur SpotiBlindTest</div>
        <div>Le blind test qui teste vos connaissances sur vos playlists.</div>
    </div>
    <div class="input-playlist">
        <div class="checkBox-Global-playlists">
            <input type="checkbox" id="GlobalSearch" name="GlobalSearch" value="GlobalSearch" (change)="handleCheckboxChange($event)"/>
            <label for="GlobalSearch"></label>
            <span>Search Global</span>
        </div>
        <div class="input-playlist-item">
            <span class="material-symbols-outlined icon-search">search</span>
            <input type="text" id="InputSearchPlaylist" placeholder="Entrez le nom d'une playlist..." value="" autocomplete="off" (input)="onSearchChange($event)">
        </div>
        <button mat-icon-button class="sort-by" [matMenuTriggerFor]="menu" aria-label="Trier par">
            <span class="material-symbols-outlined">sort</span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item class="mat-menu-custom-width" (click)="SortBy('name', true)">
                <div class="sort-by-item">
                    <span class="material-symbols-outlined">sort_by_alpha</span>
                    <span>Nom</span>
                    <span *ngIf="sortby === 'name'" class="material-symbols-outlined sort-arrow">{{ sortAsc ? 'arrow_downward_alt' : 'arrow_upward_alt' }}</span>
                </div>
            </button>
            <button mat-menu-item class="mat-menu-custom-width" (click)="SortBy('recentAdd', true)">
                <div class="sort-by-item">
                    <span class="material-symbols-outlined">date_range</span>
                    <span>Date d'ajout</span>
                    <span *ngIf="sortby === 'recentAdd'" class="material-symbols-outlined sort-arrow">{{ sortAsc ? 'arrow_downward_alt' : 'arrow_upward_alt' }}</span>
                </div>
            </button>
        </mat-menu>
    </div>
    <div>
    <div class="playlists" id="playlistScroll">
            <a class="playlist-item glow" href="{{item.playlistUrl}}" *ngFor="let item of itemsPlaylists" (click)="resetCount()" (mouseenter)="getGlow($event, item.imagePath)">
                    <img src="{{item.imagePath}}" alt="{{item.PlaylistName}}" class="playlist-image">
                    <p class="playlist-name">{{item.PlaylistName}}</p>
            </a>
    </div>

    <div class="albums" id="albumsScroll">
        <a class="album-item glow" href="{{item.albumUrl}}" *ngFor="let item of itemsAlbums" (click)="resetCount()" (mouseenter)="getGlow($event, item.imagePath)">
                <img src="{{item.imagePath}}" alt="{{item.albumName}}" class="playlist-image">
                <p class="playlist-name">{{item.albumName}}</p>
        </a>
    </div>
</div>
