<div class="container">
    <div class="top-text">
        <div class="title">Bienvenue sur SpotiBlindTest</div>
        <div>Le blind test qui teste vos connaissances sur vos playlists.</div>
    </div>
    <div class="playlists" id="playlistScroll">
            <a class="playlist-item" href="{{item.playlistUrl}}" *ngFor="let item of items" (click)="resetCount()">
                    <img src="{{item.imagePath}}" alt="{{item[0]}}" class="playlist-image">
                    <p class="playlist-name">{{item.PlaylistName}}</p>
            </a>
    </div>
</div>